@use "@/variable" as var;

.hero {
  padding: 40px 0px;
  @include var.mq("lg") {
    flex-direction: column;
  }
  .hero_text_wrap {
    width: 45%;
    // padding: 150px 0px;
    .hero_text_title {
      margin-bottom: 10px;
    }
    .hero_text_desc {
      max-width: 300px;
      width: 100%;
      margin-bottom: 22px;
    }
    .hero_btn {
      max-width: 200px;
    }
    @include var.mq("lg") {
      width: 100%;
      padding: 50px 0px;
    }
  }
  .image_wrap {
    width: 55%;
    height: 60vh;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    @include var.mq("lg") {
      width: 100%;
    }
    .img {
      object-fit: cover;
    }
  }
}
