@use "@/variable" as var;

.products {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  gap: 30px;
  .product_item {
    width: 100%;
  }
  @include var.mq("lg") {
    grid-template-columns: repeat(2, 1fr);
  }
  @include var.mq("sm") {
    grid-template-columns: repeat(1, 1fr);
  }
}

.tabs_wrap {
  overflow-x: scroll;
  gap: 15px;
  margin-bottom: 30px;
  .tabs {
    white-space: nowrap;
    padding: 8px;
    border-radius: 8px;
    background-color: var.$text-black;
    cursor: pointer;
  }
}

.active {
  background-color: var.$card-hover-bg !important;
}
