@use "@/variable" as var;

.products {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  gap: 30px;
  .product_item {
    width: 100%;
  }
}
